
// Media query break points
$largeDevices:         1200px;
$mediumDevices:        992px;
$smallDevices:         768px;
$extraSmallDevices:   576px;

// Font
$bodyFontFamily: Nunito, sans-serif;
$bodyTextColor: #333;
$bodyFontSize: 16px;

// Container
$containerWidth: 85%;
$containerMaxWidth: 1500px;

// Mobile Header
$mobileHeaderBg: #333;
$mobileHeaderColor: #888;

// Logo
$logoTextColor: #444;
$logoTextSize: 32px;

// Navigation Menu
$menuTextColor: #444;
$menuItemTextHoverColor: #111;
$menuItemFontSize: 14px;
$menuItemTextTransform: uppercase;
$menuDropdownItemTextTransform: none;
