.content-single {
    padding: 20px 0px;
    max-width: 1500px;
    margin: 0 auto;
}

.post {
    .post-meta, .post-title {
        display: flex;
        justify-content: center;
    }

    div.post-featured-image {
        height: 700px;
        background-position: center;
        background-size: auto 100%;
        background-repeat: no-repeat;
    }

    .post-meta {
        margin: 15px 0;
    }

    .post-meta-detail {
        display: flex;
        color: #686868;
    }

    .post-title-link {
        color: #444;
        &:hover {
            color: #3eb8ff;
            text-decoration: none;
        }
    }

    .post-taxonomy {
        margin: 15px 0;
        a {
            text-decoration: none;
            color: #a0aec0;
            padding: 5px 12px;
            border: 1px solid #cbd5e0;
            border-radius: 5px;
            &:hover {
                color: #333;
                border: 1px solid #333;
            }
        }
    }

    .post-author {
        display: flex;
        flex-direction: row;
        min-height: 100px;
        margin-bottom: 25px;

        .post-author-image {
            min-width: 120px;
            height: 115px;
            margin-right: 15px;

            img {
                width: 100px;
                border-radius: 50%;
            }
        }

        .post-author-details {
            display: flex;
            flex-direction: column;
            width: 100%;
        }

        .post-author-bio {
            font-size: 14px;
        }

        .post-author-name {
            font-weight: bold;
            font-size: 16px;
            margin-bottom: 8px;
        }
    }
}

.content-index {
    width: 100%;
    max-width: 1900px;
}

.posts {
    display: flex;
}

.post-img {
    display: block;
    max-width: 100%;
    height: 350px;
    background-size: cover;
    background-position: center;
    @media (max-width: $largeDevices) {
        height: 300px;
    }
    @media (max-width: $mediumDevices) {
        height: 265px;
    }
    @media (max-width: $smallDevices) {
        height: 230px;
    }
    @media (max-width: $extraSmallDevices) {
        height: 200px;
    }
// .index-post-title {
//     background-color: rgba(0, 0, 0, 0.3);
//     color: white;
//     margin-bottom: 40px;
//     padding: 0px 5px;
//     width: fit-content;
//     text-align: center;
//     text-transform: uppercase;
// }
}

.masonry {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}

.masonry-brick {
    padding: 5px;
    @media (max-width: $largeDevices) {
        height: 300px;
    }
    @media (max-width: $mediumDevices) {
        height: 265px;
    }
    @media (max-width: $smallDevices) {
        height: 230px;
    }
    @media (max-width: $extraSmallDevices) {
        height: 200px;
    }
    flex: auto;
    height: 350px;
    min-width: 300px;
    .index-image-link {
        text-decoration: none;
    }
}

.masonry-brick a img, .masonry-brick img {
    display: block;
    width: 100%;
    object-fit: cover;
}

.masonry-brick:nth-child(4n+1) {
    width: 200px;
  }
  .masonry-brick:nth-child(4n+1):nth-child(4n+2) {
    width: 435px;
  }
  .masonry-brick:nth-child(4n+1):nth-child(4n+3) {
    width: 290px;
  }
  .masonry-brick:nth-child(4n+1):nth-child(4n+4) {
    width: 370px;
  }
