.container::after,
.container::before {
    content: " ";
}

.container {
    width: $containerWidth;
    max-width: $containerMaxWidth;
    flex: 1;

    @media (max-width: $largeDevices) {
        width: 90%;
    }
}

.container {
    .content .container {
        width: unset;
        padding: unset;
    }
}

button { font-size: 18px; }
