
// media query break points
$large-devices:         1200px;
$medium-devices:        992px;
$small-devices:         768px;
$extra-small-devices:   576px;

$body-font-family: Nunito, sans-serif;
$body-text-color: #333;
$body-font-size: 16px;

$container-width: 85%;
$container-max-width: 1500px;

$mobile-header-bg: #333;
$mobile-header-color: #fff;

// Logo
$logo-text-color: #333;
$logo-text-size: 32px;

// Tagline
$tagline-text-color: #333;
$tagline-font-size: 14px;

// Navigation Menu
$menu-text-color: #333;
$menu-item-text-hover-color: rgb(95, 95, 95);
$menu-item-font-size: 11px;
$menu-item-text-transform: uppercase;
$menu-dropdown-item-padding: 5px 0 5px 20px;
$menu-dropdown-item-text-transform: none;
