
// media query break points
$large-devices:         1200px;
$medium-devices:        992px;
$small-devices:         768px;
$extra-small-devices:   576px;


$body-font-family: Nunito, sans-serif;
$body-text-color: #333;
$body-font-size: 16px;

$container-width: 85%;
$container-max-width: 1500px;

$headline1-size: 55px;
$headline2-size: 45px;
$headline3-size: 30px;
$headline4-size: 25px;
$headline5-size: 20px;
$headline6-size: 15px;
$headlines-line-height: 45px;

$content-bg: #fff;

$mobile-header-bg: #333;
$mobile-header-color: #fff;

// Logo
$logo-text-color: #333;
$logo-text-size: 32px;

// Tagline
$tagline-text-color: #333;
$tagline-font-size: 14px;

// Navigation Menu
$menu-text-color: #333;
$menu-item-text-hover-color: rgb(95, 95, 95);
$menu-item-font-size: 11px;
// $menu-item-padding: 10px 0;
$menu-item-text-transform: uppercase;
$menu-dropdown-item-padding: 5px 0 5px 20px;
$menu-dropdown-item-text-transform: none;

// Footer
$footer-text-color: #333;

$post-featured-image-height: 400px;
$post-featured-image-height-large-devices: 350px;
$post-featured-image-height-medium-devices: 300px;
$post-featured-image-height-small-devices: 200px;
