.container::after,
.container::before {
    content: " ";
}

.container {
    width: $container-width;
    max-width: $container-max-width;
    flex: 1;

    @media (max-width: $large-devices) {
        width: 100%;
    }
}

.container {
    .content .container {
        width: unset;
        padding: unset;
    }
}
