// Work in progress

.content-single {
    padding: 20px 100px;
    max-width: 1500px;
    margin: 0 auto;
    @media (max-width: $large-devices) {
        padding: 20px 0px;
    }
}

// Posts

.post {
    .post-meta, .post-title {
        display: flex;
        justify-content: center;
    }

    div.post-featured-image {
        height: 700px;
        background-position: center;
        background-size: auto 100%;
        background-repeat: no-repeat;
    }

    .post-meta {
        margin: 15px 0;
    }

    .post-meta-detail {
        display: flex;
        color: #686868;
    }

    .post-title-link {
        color: #444;
        &:hover {
            color: #3eb8ff;
            text-decoration: none;
        }
    }

    .post-taxonomy {
        margin: 15px 0;
        a {
            text-decoration: none;
            color: #a0aec0;
            padding: 5px 12px;
            border: 1px solid #cbd5e0;
            border-radius: 5px;
            &:hover {
                color: #333;
                border: 1px solid #333;
            }
        }
    }

    .post-author {
        display: flex;
        flex-direction: row;
        min-height: 100px;
        margin-bottom: 25px;

        .post-author-image {
            min-width: 120px;
            height: 115px;
            margin-right: 15px;

            img {
                width: 100px;
                border-radius: 50%;
            }
        }

        .post-author-details {
            display: flex;
            flex-direction: column;
            width: 100%;
        }

        .post-author-bio {
            font-size: 14px;
        }

        .post-author-name {
            font-weight: bold;
            font-size: 16px;
            margin-bottom: 8px;
        }
    }
}

// Index/Taxonomy

.content-index {
    width: 100%;
    max-width: 100%;
}

.posts {
    display: flex;
    .post {
        flex: 1;
        @media (max-width: $medium-devices) {
            flex-basis: 49%;
        }
    }
    @media (max-width: $medium-devices) {
        flex-wrap: wrap;
        margin: 25px 0;
    }
}

.index-featured-image {
    height: 650px;
    display: flex;
    flex-direction: column-reverse;
    padding: 0px 10px;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    background-position: center;
    .index-post-title {
        background-color: rgba(0, 0, 0, 0.3);
        color: white;
        margin-bottom: 40px;
        padding: 0px 5px;
        width: fit-content;
        text-align: center;
        text-transform: uppercase;
    }
}

.index-image-link {
    text-decoration: none;
}
