.container::after,
.container::before {
    content: " ";
}

.container {
    width: $container-width;
    max-width: $container-max-width;
    flex: 1;

    @media (max-width: $large-devices) {
        width: 90%;
    }
}

.container {
    .content .container {
        width: unset;
        padding: unset;
    }
}

// #container {
//     background: #DDD;
//     max-width: 1000px;
// }

// .item {
//     // width: 300px;
//     height: 250px;
//     max-width: 24%;
//     // float: left;
//     display: flex;
// }


.post-img {
    display: block;
    max-width: 100%;
    height: 370px;
    background-size: cover;
    background-position: center;
    @media (max-width: $large-devices) {
        height: 285px;
    }
    @media (max-width: $medium-devices) {
        height: 225px;
    }
    @media (max-width: $small-devices) {
        height: 180px;
    }
    @media (max-width: $extra-small-devices) {
        height: 150px;
    }
}

.masonry {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}

.masonry-brick {
    flex: auto;
    height: 370px;
    padding: 5px;
    @media (max-width: $large-devices) {
        height: 285px;
    }
    @media (max-width: $medium-devices) {
        height: 225px;
    }
    @media (max-width: $small-devices) {
        height: 180px;
    }
    @media (max-width: $extra-small-devices) {
        height: 150px;
    }
}

.masonry-brick a img, .masonry-brick img {
    display: block;
    width: 100%;
    object-fit: cover;
}

@for $i from 1 through 16 {
    .masonry-brick:nth-child(2n+#{$i}) {
        width: 250 + random(170) + px;
    }
}

button { font-size: 18px; }
