// Work in progress

.content-single {
    padding: 20px 100px;
    max-width: 1500px;
    margin: 0 auto;
}

@media (max-width: $large-devices) {
    .content-single {
        padding: 20px 0px;
    }
}

// Posts

.post {
    .post-meta, .post-title {
        display: flex;
        justify-content: center;
    }

    div.post-featured-image {
        height: 400px;
        background-size: cover;
        background-position: center;
    }

    .post-meta {
        margin: 15px 0;
    }

    .post-meta-detail {
        display: flex;
        color: #686868;
    }

    .post-title-link {
        color: #444;
        &:hover {
            color: #3eb8ff;
            text-decoration: none;
        }
    }

    .post-taxonomy {
        margin: 15px 0;
        a {
            text-decoration: none;
            color: #a0aec0;
            padding: 5px 12px;
            border: 1px solid #cbd5e0;
            border-radius: 5px;
            &:hover {
                color: #333;
                border: 1px solid #333;
            }
        }
    }

    .post-author {
        display: flex;
        flex-direction: row;
        min-height: 100px;
        margin-bottom: 25px;

        .post-author-image {
            min-width: 120px;
            height: 115px;
            margin-right: 15px;

            img {
                width: 100px;
                border-radius: 50%;
            }
        }

        .post-author-details {
            display: flex;
            flex-direction: column;
            width: 100%;
        }

        .post-author-bio {
            font-size: 14px;
        }

        .post-author-name {
            font-weight: bold;
            font-size: 16px;
            margin-bottom: 8px;
        }
    }
}

//  Comments

.load-comments-wrapper {
    display: flex;
    justify-content: center;
}

.comments {
    margin-top: 35px;

    .spinner {
        display: flex;
        justify-content: center;
        position: absolute;
        top: -5px;
        background: rgba(255, 255, 255, 0.11);
        height: 100%;
        align-items: center;
        width: 100%;
        align-self: center;
    }

    .lds-dual-ring {
        display: flex;
        width: 64px;
        height: 64px;
    }

    .lds-dual-ring:after {
        content: " ";
        display: block;
        width: 46px;
        height: 46px;
        margin: 1px;
        border-radius: 50%;
        border: 5px solid #cef;
        border-color: #cef transparent #cef transparent;
        animation: lds-dual-ring 1.2s linear infinite;
    }

    @keyframes lds-dual-ring {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
}

.comment-box {
    position: relative;
    margin-top: 15px;

    h3 {
        margin-top: 0px;
    }
}

.comment-form {
    padding: 10px 0px;
    font-size: 14px;

    .comment-box-header {
        margin-bottom: 10px;
    }

    .comment-data {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 10px;

        @media (max-width: $medium-devices) {
            display: block;
        }

        .comment-data-item {
            flex-grow: 0;
            flex-shrink: 0;
            flex-basis: 33%;

            @media (max-width: $medium-devices) {
                margin-bottom: 10px;
            }
        }
    }

    .comment-body {
        margin-bottom: 10px;

        textarea {
            height: 120px;
        }
    }

    .comment-btn {
        display: flex;
        justify-content: flex-end;
    }
}

.comment {
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 20px;

    .comment-header {
        margin-bottom: 5px;
    }

    .comment-datetime {
        font-size: 13px;
    }

    .comment-footer {
        display: flex;
        flex-direction: column;
    }

    .comment-name {
        font-weight: bold;
        font-size: 15px;
    }

    .comment-author {
        color: rgb(61, 120, 168);
        font-weight: bold;
        font-size: 15px;
    }

    .comment-member {
        color: rgb(59, 109, 218);
        font-weight: bold;
        font-size: 15px;
    }

    .comment-reply {
        align-self: flex-end;
        cursor: pointer;
        display: inline-block;
        margin-right: 1.1em;
        color: rgba(0,0,0,.4);
        text-decoration: none;
        font-size: 12px;
    }

    .comment-reply:hover {
        color: rgba(0,0,0,.8);
    }

    .nested-comment {
        padding-left: 30px;
        margin-top: 5px;
        margin-bottom: 20px;
    }
}

.nested-comment {
    .comment {
        margin-bottom: 15px;
    }
}
