header {
    display: flex;
    height: 120px;
    justify-content: space-between;
    align-items: center;
    max-width: 1500px;
    width: 85%;
    @media (max-width: $medium-devices) {
        width: 100%;
        padding: 0 50px;
    }
    .logo {
        display: flex;
        justify-content: center;
        padding: 15px;

        .logo-link {
            color: $logo-text-color;
            font-size: $logo-text-size;
            text-decoration: none;
            font-weight: 600;
            &:hover {
                color: #777;
            }
        }
    }
}

#navigation {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    @media (max-width: $medium-devices) {
        display: none;
    }
    .menu-item, .drop-menu-item {
        a {
            color: #222;
            text-decoration: none;
            height: 100%;
            display: flex;
            align-items: center;
            padding: 5px 20px;
            font-weight: 600;
        }
        &:hover {
            background-color: #eef2f4;
        }
    }

    .dropdown {
        @media (min-width: $medium-devices) {
            &:hover {
                .dropdown-content {
                    display: inline-block !important;
                }
            }
            .dropdown-content {
                display: none;
            }
            .dropdown-button-close, .dropdown-button-open {
                display: none !important;
            }
        }
    }


    .dropdown-content {
        display: none;
        z-index: 1;
        width: fit-content;
        position: absolute;
        margin-top: 53px;
        background-color: #eef2f4;
    }

    .drop-menu-item {
        display: flex;

        a {
            text-transform: $menu-dropdown-item-text-transform;
            padding: 5px 25px;
        }
    }

    .dropdown-button-close {
        display: none;
    }

    .dropdown-visible {
        display: inline-block;
    }

    .dropdown-invisible {
        display: none;
    }

    .menu-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        user-select: none;

        i {
            color: $menu-text-color;
            font-size: 16px;
            cursor: pointer;
            padding: 0px 10px 0px 0px;
        }

        a {
            font-size: $menu-item-font-size;
            color: $menu-text-color;
            text-transform: $menu-item-text-transform;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex: 1;

            &:hover {
                color: $menu-item-text-hover-color;
            }

            i {
                padding-left: 10px;
            }
        }
    }
}

.nav-active {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    padding: 40px 0px 20px 0px;
    margin-right: 0px !important;
}

.header-active {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    padding: 20px 0px;
    background-color: $mobile-header-bg;
    .logo > a, #navigation .menu-item > a, #navigation .menu-item > a > i, #navigation .drop-menu-item > a {
        color: $mobile-header-color;
    }
    .logo {
        padding: 20px 0px 30px 0px;
        padding-left: 0px;
    }
    .hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner::before, .hamburger.is-active .hamburger-inner::after,
    .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
        background-color: $mobile-header-color;
    }
    .hamburger-button-wrapper {
        display: block;
        justify-content: center;
        padding-right: 0px;
    }
    #navigation {
        align-items: flex-start !important;
        padding-right: 0px;
        a {
            &:hover {
                color: #333;
            }
        }
        i {
            color: $mobile-header-color;
        }
        .menu-item, .drop-menu-item {
            width: 100%;
        }
        .dropdown-content {
            margin-top: 0;
            position: unset;
            width: 100%;
            background-color: transparent;
        }
    }
}

.hamburger-button-wrapper {
    display: none;
    padding: 5px 15px 0 0;

    @media (max-width: $medium-devices) {
        display: block;
    }
}

.hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner::before, .hamburger.is-active .hamburger-inner::after {
    background-color: $menu-text-color;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    background-color: $menu-text-color;
}

.hamburger {
    outline: none !important;
    color: $menu-text-color !important;
}
